<article>
    <header>
        <img src="{{ product.imageUrl }}" alt="" />
        <p class="type">
            {# {{ product.transactionType }} #}
            temp
        </p>
    </header>
    <div class="title">
        <h3>
            {{ product.title }}
        </h3>
        <p class="price">
            {{ product.price }}
        </p>
    </div>
    <p class="location">
        {{ product.city }}
    </p>
    <p class="description">
        {{ product.description }}
    </p>
    <div id="button-container">
        <a href="" class="link">
            Favori
        </a>
        <a href="{{ path('listing_show', {'id': product.id }) }}" class="link">
            Detail
        </a>
        <a href="{{ path('listing_edit', {'id': product.id }) }}" class="link">
            Modifier
        </a>
        <a href="{{ path('listing_delete', {'id': product.id }) }}" class="link">
            Supprimer
        </a>
    </div>
    <button>
        Contact
    </button>
</article>
